.dropdown-menu{
    background-color: #fff;
    padding-left: 0px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    min-width: 100px;
}
.textcomplete-item{
    cursor: pointer;
    margin-left: 0;
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
}
.textcomplete-item a{
    color: #169;
}
.active{
    color: #169;
}
.dropdown-menu li.active{
    background-color: #169;
    border-radius: 3px 3px 3px 3px;
}
.dropdown-menu li.active a{
    color: white;
}
.dropdown-menu li:hover a{
    background-color: #169;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
}
.dropdown-menu li:hover{
    background-color: #169;
    border-radius: 3px 3px 3px 3px;
    color: #fff;
}
.wiki-edit{
    display:block;
    width: 100%;
}
