<h4><%= link_to "[#{@issue.project.name} - #{@issue.tracker.name} ##{@issue.id}] #{@issue.subject}", issue_url(@issue) %></h4>
<br>
<%= @mentioned_by %> just mentioned you on the issue <%= link_to "[#{@issue.project.name} - #{@issue.tracker.name} ##{@issue.id}] #{@issue.subject}", issue_url(@issue) %>
<br><br>
<div style="background-color: lightgrey;" ><%= @mentioned_html %></div>
<br>
