<h4><%= link_to "[#{@issue.project.name} - #{@issue.tracker.name} ##{@issue.id}] #{@issue.subject}", issue_url(@issue) %></h4>

<br /><br />
<%= @mentioned_by %> just mentioned you on the issue <%= link_to "[#{@issue.project.name} - #{@issue.tracker.name} ##{@issue.id}] #{@issue.subject}", issue_url(@issue) %>


<p style="background-color: grey;" ><%= @mentioned_text %></p>
